name: build container
on:
  # triggered by user action only
  workflow_dispatch:
    inputs:
      PG_VERSION:
        description: 'Postgres version'
        required: true
        default: '17-standard-bookworm'
      EXTENSIONS:
        description: 'Postgres extensions to install'
        required: true
        default: 'vchord-suite'
      VCHORD_VERSION:
        description: 'VectorChord version'
        required: true
        default: '1.0.0'
      VCHORD_BM25_VERSION:
        description: 'VectorChord-BM25 version'
        required: true
        default: '0.3.0'
      PG_TOKENIZER_VERSION:
        description: 'pg_tokenizer version'
        required: true
        default: '0.1.1'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v3
      # authenticate ghcr.io
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: calculate image tag
      id: vars
      run: |
        # build tag: pg-version + extensions (spaces replaced with dashes)
        EXTENSIONS_TAG=$(echo "${{ github.event.inputs.EXTENSIONS }}" | tr ' ' '-')
        IMAGE_TAG="${{ github.event.inputs.PG_VERSION }}-${EXTENSIONS_TAG}"
        echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_OUTPUT
    - uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/postgresql:${{ steps.vars.outputs.IMAGE_TAG }}
        build-args: |
          POSTGRESQL_VERSION=${{ github.event.inputs.PG_VERSION }}
          EXTENSIONS=${{ github.event.inputs.EXTENSIONS }}
          VCHORD_VERSION=${{ github.event.inputs.VCHORD_VERSION }}
          VCHORD_BM25_VERSION=${{ github.event.inputs.VCHORD_BM25_VERSION }}
          PG_TOKENIZER_VERSION=${{ github.event.inputs.PG_TOKENIZER_VERSION }}
